*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
  background-color: hsl(210, 31%, 80%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40vw;
  padding:80px 50px;
  margin: 5rem 0;
  max-width: 1170px;
  background: hsl(212, 33%, 89%);
  border-radius: 0.25rem;
  /* padding: 1.5rem 2rem; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.searchbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#searchworld {
  width: 75%;
  padding: 5px;
  border: none;
  outline: none;
  background-color: #f1f0e8;
  border-bottom: 3px solid hsl(210, 31%, 80%);
  font-size: 16px;
 
}
#searchbtn {
  background-color: hsl(210, 31%, 80%);
  width: 20%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px;
  color: white;
}
#searchbtn:hover {
  cursor: pointer;
}
.result {
  margin-top: 40px;
  /* display: none; */
}

.word {
  display: flex;
  justify-content: space-between;
}
.word h3 {
    color:#343f44f6;
    font-size: 30px;
}
.word button {
    background-color:transparent;
    /* color: aquamarine; */
    outline: none;
    border: none;
    color: #343f44f6;
    font-size: 18px;
}
.result .details{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    color: #adc4ce;
    font-size: 14px;
} 
.meaning{
    margin-top: 10px;
}
.example{
    color: #adc4ce;
    margin-top: 15px;
    padding-left: 10px;
    font-style: italic;
    border-left: 5px solid #343f44f6;
    background-color: #e3edf1;
}